<div class="container">
  <div class="row">
    <div class="top-text col-xs-12">
      <div class="logo-top text-center">
        <%#= image_tag("logo.png",:width => "250",:height => "60") %>
        <h3>スケジュールとタスク管理の効率化！</h3>
      </div>
    </div>
  </div><br>
  <div class="box7 row">
    <div class="text-center col-xs-12">
      <h2 class="top-text">SBサポート <%#= image_tag("about.png", size: "40x40") %></h2>
      <h4 class="top-text">
        日常生活のスケジュール、学業や業務のタスク管理を支えるサイトです。<br>
        追加したタスクは重要度や優先度によって色分け出来ます。<br>
        TOPページには一目で確認できるように、<br>
        本日の完了タスクと未完了タスクが表示されます。<br>
        カレンダーを確認することででスケジュールやタスクをより効率的に管理することが出来ます。<br>
        ユーザーのプロフィールを閲覧でき、フォローすることが出来ます。<br>
        チャットを通して同じタスクを抱える者同士でコミュニケーションを取る事で、<br>
        タスクの効率化を図る事が出来ます。
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="box7 col-xs-12">
      <h2 class="text-center">タスク作成</h2>
      <h4 class="text-center">
        タスク重要度を設定することができます。
      </h4>
      <div class="top_group desktop-ver col-xs-5">
        <div class="top2"></div>
      </div>
      <div class="col-xs-2"></div>
      <div class="top_group desktop-ver col-xs-5">
        <div class="top3"></div>
      </div>
    </div>
  </div>
  <div class="box7 row">
      <h2 class="text-center">タスク一覧</h2>
      <h4 class="text-center">
        トップ画面にタスク一覧が表示されます。<br>
        作成時に設定したタスク重要度によって自動で色分けされます。
      </h4><br>
      <div class="top_group col-xs-12">
        <div class="top1"></div>
      </div>
      <h4 class="text-center">
        タスク完了ボタンを押すと、完了済タスクへ移行します。<br>
        カレンダーから、過去のタスク完了状況を確認できます。
      </h4><br>
      <div class="top_group col-xs-12">
        <div class="top5"></div>
      </div>
  </div>
</div><br>