<div class="container">
  <div class='d-flex flex-column align-items-center'>
  <div class="row">
    <div class="top-text  col-xs-12 mt-3">
      <div class="logo-top text-center">
        <%= image_tag("logo.png",:width => "200",:height => "200") %>
        <h3>スケジュールとタスク管理の効率化！</h3>
      </div>
    </div>
  </div><br>
  <div class="box7 row">
    <div class="text-center col-xs-12">
      <h2 class="top-text">SBサポート</h2>
      <h4 class="top-text">
        日常生活のスケジュール、学業や業務のタスク管理を支えるサイトです。<br>
        TOPページには一目で確認できるように、現在投稿しているタスクが表示されます。<br>
        カレンダーを確認することでスケジュールやタスクをより効率的に管理することが出来ます。<br>
        ユーザーのプロフィール画面で、現在投稿しているタスクの確認と編集が出来ます。
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 mt-3">
      <h2 class="text-center">タスク作成</h2>
      <h4 class="text-center">
        投稿するタスクごとに内容やカテゴリーを設定出来ます。
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 mt-3">
      <h2 class="text-center">タスク一覧</h2>
      <h4 class="text-center">
        トップ画面にタスク一覧が表示されます。
      </h4>
    </div>
  </div>
  </div
</div><br>