<div class="container">
  <div class="row">
    <div class="top-text text-center col-xs-12">
      <div class="logo-top">
        <%#= image_tag("logo.png",:width => "250",:height => "60") %>
      </div>
      <h2 class="top-text">スケジュールとタスク管理の効率化！</h2>
      <h3 class="top-text">
          日々の仕事や学習の管理、<br>
          日常生活のスケジュールのまとめ。<br>
          自分事であるタスク管理を常に身近に置き<br>
          効率化を図っていきます。
      </h3>
    </div>
  </div><br>
  <div class="row">
    <div class="col-xs-6">
      <%= link_to new_user_registration_path, class: "btn btn-primary btn-lg btn-block" do %>
        <i class="fas fa-user-plus"></i>新規登録
      <% end %>
    </div>
    <div class="col-xs-6">
      <%= link_to new_user_session_path, class: "btn btn-info btn-lg btn-block" do %>
        <i class="fas fa-user-check"></i>ログイン
      <% end %>
    </div>
  </div><br>
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="text-center col-xs-4">
      <%= link_to about_path do %>
        <h2>サイト紹介 <%#= image_tag("about.png", size: "30x30") %></h2><br>
      <% end %>
    </div><br>
    <div class="col-xs-4"></div>
  </div><br>
</div><br>