@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.simple-calendar {
  .day {}

  .wday-0 a {
  color: red;
}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 a {
   color: blue;
}
　.today + .future a {
   color: #ffffff;
   background-color: orange;
 + .future a {
     color: #ffffff;
     background-color: orange;
 }
} 
  .past {}
  

  .start-date {}

  .prev-month a {
  display: none;
}
.next-month a {
  display: none;
}
  .current-month {}

  .has-events {}
}

* {
  font-family: 'Kosugi Maru', sans-serif;
}


// body {
//   background-image: image-url("hoge.jpg");
// }

